/* Variables */
/* Global Layout Set-up */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3A6355;
  background: #EBE1DD; }

/* Link Styles */
a {
  text-decoration: none;
  border-bottom: 1.5px solid;
  padding-bottom: 0.5px;
  color: #3A6355; }

a:hover {
  color: #3A6355; }

/* Section Styles */
.main-nav {
  width: 100%;
  background: rgba(235, 225, 221, 0.8);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center; }

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
  letter-spacing: 5px; }

.nav li {
  padding: 5px 10px 10px 10px; }

.nav a {
  transition: all .5s; }

.nav a:hover {
  opacity: 0.6; }

header {
  text-align: center;
  background: url("../img/concert02_no_text.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  height: 350px; }

.tag {
  color: black;
  padding: 10px;
  letter-spacing: 5px; }

.name {
  font-weight: 300; }

header .name {
  font-size: 3em; }

.tagline {
  font-weight: 600;
  padding: 20px;
  text-transform: uppercase;
  color: #781125; }

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  border-top: 4px solid #781125;
  clear: both; }
  .card:hover {
    border-color: #AB5833; }

.photo {
  display: block;
  width: 200px;
  height: 0%;
  margin: 0 auto; }

.information {
  width: 100%;
  text-align: center;
  /*display: inline-block;
  position: absolute;*/ }

h1 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 10px;
  font-size: 2.8em;
  font-family: Raleway, sans-serif;
  color: #292929;
  margin-top: 81px;
  margin-left: 9px; }

h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #781125;
  margin-top: 20px;
  font-weight: normal; }

h3 {
  text-transform: uppercase;
  color: #781125;
  font-weight: normal;
  font-family: Raleway, sans-serif;
  letter-spacing: 3.5px;
  padding-top: 37px;
  margin-left: 15px; }

/* Footer styles */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px; }

footer .copyright {
  top: -8px;
  font-size: .75em; }

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

footer ul li {
  display: inline-block; }

span.hide {
  display: none; }

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 1;
  transition: all .5s;
  background-color: #3A6355;
  border-radius: 100%; }

a.twitter {
  background-image: url(../img/twitter-32.png); }

a.youtube {
  background-image: url(../img/youtube-32.png); }

a.spotify {
  background-image: url(../img/spotify-32.png); }

a.social:hover {
  opacity: 0.4; }

.clearfix {
  clear: both; }

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .flex {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute; }

  header {
    min-height: 470px; }

  .nav {
    max-width: 1200px;
    padding: 0 30px; }

  main {
    padding-top: 20px; }

  main p {
    line-height: 1.6em; }

  .card {
    margin: 40px auto;
    padding: 20px 40px 40px;
    width: 80%;
    max-width: 1000px; }

  .photo {
    width: 30%;
    margin: 20px 30px; }

  .information {
    text-align: left; }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto; } }
/* Survey page styles */
.photo {
  width: 60%;
  padding: 10px; }

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block; }

.container {
  text-align: center; }

.newsletter p {
  text-align: right; }

.info {
  display: none; }

button {
  box-sizing: border-box;
  margin: 10px 2px 0 2px;
  width: calc(100% - 5px);
  padding: 10px;
  background: #3A6355;
  border: 1px solid #14231e;
  border-radius: 5px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  cursor: pointer; }
  button:hover {
    opacity: 0.75; }

fieldset {
  margin-top: 20px; }

textarea {
  width: 100%;
  height: 100px; }

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo {
    width: 40%; } }
/* Tour page styles */
pre {
  font-family: 'Open Sans', sans-serif; }

.pick {
  width: 40px;
  height: 0%;
  padding: 10px; }

.tour {
  display: inline-block;
  margin: 0; }

table {
  margin-left: 40px; }

th:nth-child(1),
td:nth-child(1) {
  width: 125px; }

th, td {
  width: 175px; }

/*# sourceMappingURL=styles.css.map */
