/* Variables */

$color-text: #3A6355;
$color-title-text: lighten(black, 16%);
$color-link: $color-text;
$color-bg: #EBE1DD;
$color-nav-bg: rgba($color-bg, 0.8);
$color-card: #781125;
$color-card-hover: #AB5833;
$color-tagline: $color-card;
$color-heading: $color-card;